<section id="details-page" class="details">
  <div class="book-information">
    <h3>{{ book?.title }}</h3>
    <p class="type">Type: {{ book?.type }}</p>
    <p class="img"><img src="{{ book?.imageUrl }}" /></p>
    <div class="actions">
      <div *ngIf="isOwner === true">
        <a class="button" [routerLink]="'/books/edit/' + book?._id">Edit</a>
        <a class="button" (click)="deleteBook()">Delete</a>
      </div>
      <a class="button"  *ngIf="!isOwner && canLike" (click)="likeBook()">Like</a>

      <div class="likes">
        <img class="hearts" src="../../../assets/heart.png" />
        <span id="total-likes">Likes: {{ totalLikes }}</span>
      </div>
    </div>
  </div>
  <div class="book-description">
    <h3>Description:</h3>
    <p>{{ book?.description }}</p>
  </div>
</section>
